/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(162, 61%, 89%);
  --clr-primary-2: hsl(162, 60%, 78%);
  --clr-primary-3: hsl(162, 61%, 67%);
  --clr-primary-4: hsl(162, 61%, 57%);
  /* primary/main color */
  --clr-primary-5: hsl(162, 73%, 46%);
  /* lighter shades of primary color */
  --clr-primary-6: #1aa179;
  --clr-primary-7: #13795b;
  --clr-primary-8: #0d503c;
  --clr-primary-9: #06281e;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(212, 33%, 89%);
  --clr-grey-2: hsl(210, 31%, 80%);
  --clr-grey-3: hsl(211, 27%, 70%);
  --clr-grey-4: hsl(209, 23%, 60%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 28%, 39%);
  --clr-grey-7: hsl(209, 34%, 30%);
  --clr-grey-8: hsl(211, 39%, 23%);
  --clr-grey-9: hsl(209, 61%, 16%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
  --clr-pink: #f28ab2;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
  color: var(--clr-grey-9);
  line-height: 1.5;
  font-size: 0.875rem;
}

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/* Loader styles */
.loader {
  display: flex;
  justify-content: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(0, 0, 85);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* App.js Style */
.title {
  text-align: center;
  background-color: rgb(0, 0, 85);
  padding: 2rem;
}

.title-container {
  color: whitesmoke;
}

.error {
  margin-top: 2rem;
}

.error h3 {
  text-align: center;
}

.error span {
  font-size: 1.5rem;
  margin-right: 10px;
}

/* header.js styles */

.global-data {
  margin: 2rem;
  text-align: center;
}

.global-data h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.date {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  margin: auto 20%;
  margin-top: 20px;
  width: 60%;
}

.stats {
  background-color: white;
  text-align: center;
  padding: 50px 10px;
  vertical-align: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* CountryData.js */

.search-country {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem auto;
  margin: 2rem;
  text-transform: uppercase;
}

select {
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
  width: 80%;
  margin: 0 10%;
  margin-bottom: 20px;
  color: whitesmoke;
  background-color: rgb(0, 0, 85);
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 5px;
}

.country-name {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: auto 10%;
    margin-top: 50px;
  }
  .stats {
    padding: 50px auto;
  }
  select {
    width: 50%;
    margin: auto 25%;
  }
}

@media screen and (min-width: 900px) {
  .stats-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
